.developers{
  width: 100%;
  overflow-x: hidden;
  border:2px solid red;
}

.developers .developers-corousel{
  margin: 0 auto;
}

.developers .container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.developers .container article{
  width: 500px;
  border: 2px solid red;
}

.developers .scroller {
    max-width: 600px;
    min-width: 600px;
    margin-inline: auto;
    
  }
  
.developers .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

  }

.developers .scroller img{
    max-width: 500px;
    min-width: 500px;
    height: 100%;
    border: 2px solid transparent;

  }



.developers .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 30s)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 30s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
  
  /* general styles */
  
  
  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
  }
  .tag-list li {
    padding: 1rem;
    min-width: 400px;
    max-width: 400px;
    background-color: rgb(224, 224, 224);
  }